<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <title>Desafio 04</title>
</head>
<body>
    <main >
        <div class="linkContainer">
            <a class="link" href="/" target="_blank" rel="noopener noreferrer">Ingresar productos</a>
        </div>
        {{#if showProducts}}
          <div class="productsContainer">
            {{#each products}}
                <div class="productContainer">
                    <img src='{{{  this.thumbnail }}}' alt='{{{ this.title }}}' class="imgProduct">
                    <div class="infoProduct">
                        <h4 class='titleProduct'> {{  this.title }} </h4>
                        <h4 class='priceProduct'> $ {{  this.price }} </h4>
                    </div>
                </div>
            {{/each}}
          </div>
        {{else}}
            <p> No posee productos para visualizar </p>
        {{/if}}
    </main>
</body>
</html>
